.add-video-page {
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

.video-form .label {
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

.input, .textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.textarea {
  height: 120px;
}



.upload-btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}
