.comments-section {
    padding: 20px 0;
    border-top: 1px solid #e2e2e2;
    width: 100%;
}

.comments-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* ADD COMMENT AREA */
.add-comment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.user-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ddd;
}

.add-comment input {
    flex: 1;
    padding: 10px 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.add-comment input:focus {
    border-color: #000;
}
