.create-channel-page {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

/* ---------------- FORM ---------------- */
.channel-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* ---------------- INPUTS ---------------- */
.input, .textarea {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.textarea {
    height: 120px;
    resize: vertical;
}


/* ---------------- SUBMIT BUTTON ---------------- */
.create-btn {
    background: #000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.create-btn:hover {
    background: #333;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 600px) {
    .logo-upload-area {
        width: 110px;
        height: 110px;
    }
}

.disabled-upload {
  opacity: 0.5;
  pointer-events: none;
  border: 1px dashed #ccc;
}

