.tags-container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 15px;
    /* background-color: white; */
}

.tags-container li{
    border: none;
    border-radius: 6px;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 6px 12px;
    width: max-content;

}

.tags-container li:hover{
    background-color: rgb(202, 202, 202);
}