.sidebar {
  width: 240px;
  background: #fff;
  height: 100vh;
  position: fixed;
  top: 58px;
  left: 0;
  border-right: 1px solid #e5e5e5;
  padding-top: 10px;
  overflow-y: auto;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  padding: 10px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 15px;
}

.sidebar-list li:hover {
  background: #f5f5f5;
}

.sidebar-list a {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: black;
}

.sidebar hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}
