.video-item {
  width: 100%;
  max-width: 320px; /* adjust per grid column */
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 8px;
  background-color: #000;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-info {
  margin-top: 8px;
}

.video-title {
  font-size: 16px;
  font-weight: 500;
  color: #030303;
  margin: 0 0 4px 0;
  line-height: 1.2;
}

.channel-name {
  font-size: 14px;
  color: #606060;
  margin: 0;
}

.video-stats {
  font-size: 14px;
  color: #606060;
  margin: 2px 0 0 0;
}

.video-item:hover {
    background-color: #b0b4b87e;
    border: none;
    border-radius: 10px;
}
